/*Footer*/

footer {
    background-color: $bg-footer;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

footer li {
    color: black;
    list-style: none;
}


footer ul a {
    color: black;
    text-decoration: none;

}

.sideFooter1 ul  .facebook img{
    padding-left: 35px;
    padding-top: 15px;
    margin-top: 15px;
}
.sideFooter1 ul  .instagram img{
    padding-left: 25px;
    padding-top: 15px;
    margin-top: 15px;
}


.sideFooter1 h3 {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.17em;
}

footer h3 {
    font-weight: bold;
    font-size: 1.17em;
    padding-top: 3px;
    color: white;
}

.sideFooter2 ul li {
    padding: 5px;
    text-decoration: underline;
}