/*Scroll-Bar*/
body::-webkit-scrollbar {
    width: 20px;

}

body::-webkit-scrollbar-thumb {
    background: rgba(247, 176, 117, 0.877);
    border-radius: 50px;
}

/* Estilos Nav Pantallas Grandes */
header {
    position: sticky;
    top: 0;
    background-image: linear-gradient(to right, rgb(247, 93, 126), rgba(247, 176, 117, 0.877));
    height: 160px;
}

header nav {
    height: 160px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 2px 50px;
}

.logo {
    height: 150px;
}

header nav ul {
    float: right;
    margin-right: 20px;
}

header nav ul li {
    display: inline-block;
    line-height: 160px;
    margin: 0 5px;
}

header nav ul li a {
    color: rgb(15, 15, 15);
    font-size: 18px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

header li a.active,
header li a:hover {
    background: aqua;
    color: black;
    transition: .5s;


}

.checkbtn {
    font-size: 50px;
    color: white;
    float: right;
    line-height: 160px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}