/*Main global*/

main {
   @include cuerpo-page;
}


main h2 {
    text-align: center;
    padding: 30px;
    font-style: italic;
    font-size: 50px;
    text-decoration: underline;
}

main h1 {
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 55px;
}

/*Main Inicio*/

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.home h1 {
    font-size: 55px;
    text-decoration: underline;

}

.home h3 {
    margin-left: 20px;
}

.banner img {
    border-radius: 20px;
    margin-bottom: 150px;
}

.home2 img {

    margin-bottom: 10px;
    margin-left: 15px;
    box-sizing: 1px;
    border-radius: 25px;
    padding: 0;
    -webkit-box-shadow: 0px 5px 26px 8px rgba(211, 47, 252, 0.66);
    -moz-box-shadow: 0px 8px 26px 8px rgba(254, 28, 243, 0.66);
    box-shadow: 0px 5px 26px 8px rgba(227, 11, 216, 0.66);
}

.home2 button {

    background-color: $btn-one;
    border-radius: 25px;
    width: 600px;
    margin-bottom: 25px;
    margin-left: 20px;
    border-color: $btn-one;
}

.home2 button:hover {
    background: $btn-two;
    transition: .5s;
    border-color: $btn-two;

}

.home2 button a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;
}

.home3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.home3 img {
    margin-bottom: 10px;
    margin-left: 15px;
    box-sizing: 1px;
    border-radius: 25px;
    padding: 0;
    -webkit-box-shadow: 0px 5px 26px 8px rgba(211, 47, 252, 0.66);
    -moz-box-shadow: 0px 8px 26px 8px rgba(254, 28, 243, 0.66);
    box-shadow: 0px 5px 26px 8px rgba(227, 11, 216, 0.66);
}

.home3 button {
    background-color: $btn-one;
    border-radius: 25px;
    width: 100px;
    margin-bottom: 25px;
    border-color: $btn-one;

}

.home3 button:hover {
    background: $btn-two;
    transition: .5s;
    border-color: $btn-two;


}

.home3 button a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;
}






/*Main Productos*/
.section1 .section2 button {

    background-color: $btn-one;
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    border-radius: 25px;
    border-color: $btn-one;

}

.section1 .section2 button:hover {
    background: $btn-two;
    transition: .5s;
    border-color: $btn-two;

}

.section1 button a {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.section2 button {

    margin-bottom: 35px;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25p;
}

.section2 img {
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 26px 8px rgba(32, 31, 32, 0.66);
    -moz-box-shadow: 0px 8px 26px 8px rgba(15, 1, 15, 0.66);
    box-shadow: 0px 5px 26px 8px rgba(36, 17, 35, 0.66);
}

.section2 div h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
}

.section2 div p {
    text-align: justify;
    font-size: 14px;
}

/*Main Outlet*/

.mainOutlet article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25p;
}

.mainOutlet h1 {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 15px;
}

.mainOutlet h2 {
    font-size: 34px;
}

.mainOutlet .bannerOut img {
    width: 100%;
}

.mainOutlet button {
    background-color: $btn-one;
    border-radius: 20px;
    width: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-color: $btn-one;

}

.mainOutlet button a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;
    
}

.mainOutlet button:hover {
    background: $btn-two;
    transition: .5s;
    border-color:$btn-two;


}

.mainOutlet article img {
    border-radius: 20px;
}

/*Main Nosotros*/
.mainNos {
    height: 600px;
}

.grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1.3fr 3.9fr 3.9fr 1.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". section aside .";
}

.aside {
    grid-area: aside;
    
}
.aside img{
    border-radius: 200px;
    padding-top: 10px;
}



.section {
    grid-area: section;
    width: 300px;
    margin-left: 5px;
}

.section h1 {
    text-decoration: underline;
    font-size: 35px;
    margin-bottom: 10px;
    padding-top: 10px;
    font-weight: bolder;
}

.section p {
    font-size: 19px;
    font-weight: bolder;
}


/* Main Formulario Contacto*/

.main-cont {
    width: auto;
    height: 100%;
}

.main-cont h1 {
    text-align: center;
    text-decoration: underline;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;


}

.form1 label {
    text-decoration: underline;
    font-size: 25px;
}

.btn {
    background-color: $btn-one;
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border-color: $btn-one;

}

.btn:hover {
    background: $btn-two;
    transition: .5s;
    color: black;
    border-color: $btn-two;
}