//background-header & footer

$bg-primary: linear-gradient(to right, rgb(247, 93, 126),rgba(247, 176, 117, 0.877));
$bg-footer: rgb(247, 93, 126);


//botones-nav

$btn-one: rgba(0, 255, 255, 0.952);
$btn-two: rgb(247, 93, 126);
$btn-enviar: rgb(22, 22, 187);

// Main

$bg-img: url(../images/bodi2.jpg);
$bg-size: cover;
$main-height: 100%;
$main-width: 100%;